/*__________________________________________________HEADER________________________________________*/
#jumbotron{
    padding:0!important;
    padding-bottom: 30px !important;
    padding-top: 7px !important;
    
}

#lmenu{                 /*fortæller om burgers placering, højde og bredde*/
    position: absolute;
    width: 45px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;        /*viser en hånd istedet for pil*/
    right: 2em;           /*afstand fra højre*/
   
    
  
    
}

.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    height: 5px;
    width: 100%;
    background-color:#85bb65;
    display: block;
    border-radius: 5px;   
    transition:0.7s ease; /*hastigheden fra burger til kryds*/
    right: 12.5%;
   
    
    
}

#lbar1{                 /*giver toppen af burgeren*/
    transform:translateY(-4px);
}

#lbar3{                 /*giver bunden af burgeren*/
    transform:translateY(4px);
}

.lchange .lbar{           /*angiver farven på burger efter åben*/
    background-color:green;
}
.lchange #lbar1{           /*får bar1 til at dreje til kryds*/
    transform: translateY(4px) rotateZ(-135deg);
}

.lchange #lbar3{           /*får bar3 til at dreje til kryds*/
    transform: translateY(-6px) rotateZ(135deg);
}
.lchange #lbar2{        /*får bar2 til at forsvinde*/
    opacity: 0;
}
.lnav li a:hover{       /*Får nav tekst til at blive market efter åbnet burger*/
    font-weight: bold;
}

.lnav li a{             /*giver nav tekst farve og fjerne understregning fra link*/
    color:black;
    text-decoration:none;
}


.lnav li{               /* fjerne bullets og beskriver padding i nav tekst efter åben burger*/
    list-style: none;
    padding: 16px 0;
}

.lnav{                  /*fortæller om navs position, padding, margin*/
    position:relative;
    padding:0px;
    margin: 0 20px;
    transition: 3s ease;
    display: none;
    float:right;
    top:70px;
    

}

.lchange{               /*fortæller omkring krydsets display*/
    display:block;
}

.lmenu-block{           /*fortæller om blokken der kommer efter at have åbnet burgeren FØR den er åben. Z-index er prioriteringsrækkefølge*/
    width:0;
    height:0;
    background:radial-gradient(circle, #FAEBD7, #FAEBD7);
    transition:1s ease;
    z-index: 1;
}

.lchange-block{     /*fortæller om blokkens størrelse når burgeren åbnes*/
    width:200%;
    height:200%;    
}

.lmenu-block, #lmenu-bar{   /*fortæller om hvor blokken starter*/
    top:0;
    right:0;
    position:absolute;
    
}

#lmenu-bar{             /* fortæller om prioriteringsrækkefølgen - gør egentligt bare, at menu-bar baggrund ikke dækker alt*/
    z-index: 2;
}

/*__________________________________________________Alle overskrifter________________________________________*/
/* dette er til overskrifterne på om_os*/
h1 {
    font-size: 1.5em;
    font-family: arial;
    color: forestgreen;
}

h3 {
    font-size: 1.2em;
    font-family: arial;
    color:darkgreen;

    

}

/*__________________________________________________OPRET BRUGER________________________________________*/
/* overskrifterne på login og opret bruger */
#nheading{
    text-align:center;
    padding:20px;
}

                        /* dette sørger for at teksten, der fortæller om password matcher eller ikke matcher er centeret */
#passwordtjek{
    text-align: center;

    
}
input::placeholder{
    font-style:italic;
}

#logmag{
    margin:15px;
}
/*-------------------------------------------------BILLEDE I HEADER------------------------------------*/
#limg{
    padding:5px;
    margin:5px;
    width: 150px;
    position: absolute;
    top: -5px;
    left: -7px;
    height:100;
    width:100px; 
}

/*-------------------------------------------LOG IND BAR I HEADER--------------------------------*/

#llogin{                /*Fortæller om LOG IND knaps placering, position, rammen omkring og margin fra top og bund af jumbotron*/
    position:relative; 
    width: 25%;
    left:45%;   
    opacity:0.6;
    margin-top:5%;
    margin-bottom: 2%;
    text-align:center;
    border:2px solid black;
    border-radius:20px;
    text-decoration: none;
}

#llogin a{          /*Fjerne den standar blå farve ved link og laver sort*/
    color:black;
}

#llogin a:hover{   /*Beskriver funktioner når man hover LOG IND knappe, teksten ændres til bold sort, ingen understregning*/
    color:black;
    text-decoration: none;
    font-weight: 800;    
    
}


