/*__________________________________________________HEADER________________________________________*/
#jumbotron{
    padding:0em !important;
    border-radius:0em !important;
    padding-bottom: 2em !important;
    padding-top: 2em !important;
    width:auto !important;
    
}

#lmenu{                 /*fortæller om burgers placering, højde og bredde*/
    position: absolute;
    width: 3em;
    height: 4em;
    cursor: pointer;        /*viser en hånd istedet for pil*/
    right: 2em;           /*afstand fra højre*/
   
    
  
    
}

.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    position: relative;
    height: 0.5em;
    width: 100%;
    background-color:#85bb65;
    display: block;
    border-radius: 5em;   
    transition:0.7s ease; /*hastigheden fra burger til kryds*/
    right: 15.5%; 
    top: 2em;
    }
    
    
}

#lbar1{                 /*giver toppen af burgeren*/
    transform:translateY(0.2em);
}

#lbar2{                 /*giver toppen af burgeren*/
    transform:translateY(0.1em);
}

#lbar3{                 /*giver bunden af burgeren*/
    transform:translateY(0.2em);
}

.lchange .lbar{           /*angiver farven på burger efter åben*/
    background-color:green;
}
.lchange #lbar1{           /*får bar1 til at dreje til kryds*/
    transform: translateY(0.3em) rotateZ(-45deg);
}

.lchange #lbar3{           /*får bar3 til at dreje til kryds*/
    transform: translateY(-0.65em) rotateZ(45deg);
}
.lchange #lbar2{        /*får bar2 til at forsvinde når krydset vises*/
    opacity: 0;
}
.lnav li a:hover{       /*Får nav tekst til at blive market efter åbnet burger*/
    font-weight: bold;
}

.lnav li a{             /*giver nav tekst farve og fjerne understregning fra link*/
    color:black;
    text-decoration:none;
}


.lnav li{               /* fjerne bullets og beskriver padding i nav tekst efter åben burger*/
    list-style: none;
    padding: 1em 0em;
}

.lnav{                  /*fortæller om navs position, padding, margin*/
    position:relative;
    padding:0em;
    margin: 0 3em;
    transition: 3s ease;
    display: none;
    float:right;
    top:5em;
    

}

.lchange{               /*fortæller omkring krydsets display*/
    display:block;
}

.lmenu-block{           /*fortæller om blokken der kommer efter at have åbnet burgeren FØR den er åben. Z-index er prioriteringsrækkefølge*/
    width:0;
    height:0;
    background:radial-gradient(circle, #FAEBD7, #FAEBD7);
    transition:1s ease;
    z-index: 1;
}

.lchange-block{     /*fortæller om blokkens størrelse når burgeren åbnes*/
    width:200%;
    height:200%;    
}

.lmenu-block, #lmenu-bar{   /*fortæller om hvor blokken starter*/
    top:0;
    right:0;
    position:absolute;
    
}

#lmenu-bar{             /* fortæller om prioriteringsrækkefølgen - gør egentligt bare, at menu-bar baggrund ikke dækker alt*/
    z-index: 2;
}

/*__________________________________________________Alle overskrifter________________________________________*/
/* dette er til overskrifterne på om_os*/
h1 {
    font-size: 1.5em;
    font-family: arial;
    color: forestgreen;
}

h3 {
    font-size: 1.2em;
    font-family: arial;
    color:darkgreen;

    

}

/*__________________________________________________OPRET BRUGER________________________________________*/
/* overskrifterne på login og opret bruger */
#nheading{
    text-align:center;
    padding:20px;
}

                        /* dette sørger for at teksten, der fortæller om password matcher eller ikke matcher er centeret */
#passwordtjek{
    text-align: center;

    
}
input::placeholder{
    font-style:italic;
}

#logmag{
    margin:15px;
}
/*-------------------------------------------------BILLEDE I HEADER------------------------------------*/
#limg{
    margin:0.2em;
    position: absolute;
    top: -0.5em;
    left: 3em;
    height:8em;
    width:10em; 
}
#container-content{
    width:100%;
    height:100000%;
}

/*___________________________________ MIN SIDE ___________________________________*/

.col-mew {
    width: 40%;
    border-radius: 3%;
    border-style: solid;
    border-color: darkgray;
    background-color: darkgray;
    margin: 2%;
    left: 10%;
    min-height:2%;
    max-height: 13%;
    padding: 8%
}

=======
/*-------------------------------------------LOG IND BAR I HEADER--------------------------------*/

#llogin{                /*Fortæller om LOG IND knaps placering, position, rammen omkring og margin fra top og bund af jumbotron*/
    position:relative; 
    width: 25%;
    left:45%;   
    opacity:0.6;
    margin-top:5%;
    margin-bottom: 2%;
    text-align:center;
    border:0.09em solid black;
    border-radius:20px;
    text-decoration: none;
}

#llogin a{          /*Fjerne den standar blå farve ved link og laver sort*/
    color:black;
}

#llogin a:hover{   /*Beskriver funktioner når man hover LOG IND knappe, teksten ændres til bold sort, ingen understregning*/
    color:black;
    text-decoration: none;
    font-weight: 800;    
    
}

/*----------------------------FOOTER----------------------------*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    outline: none;
}
.footer {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727; 
    bottom: 0;
    position: relative;
    
/*De fire næste kolonner angiver størrelsen,  placeringen, afstanden, at de skal være på linje og ikke ovenover hinanden og hvilken form teksten skal stå i*/
}
.wfooter-menu-en {
    width: 100%;
    height: 4em;
    margin-top: 1em;
}
.wfooter-menu-en ul{ 
    text-align: center;

}
.wfooter-menu-en ul li a{
    font-family: arial;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
#wkomigang {   
    text-align:center;
    border:0.05em solid white;
    border-radius:20em;
    text-decoration: none;
    position: relative;
    width: 25%;
    text-align: center;
}

/*De tre næste kolonner angiver størrelsen,  placeringen, afstanden, at de skal være på linje og ikke ovenover hinanden og hvilken form teksten skal stå i*/
}
.wfooter-menu-to{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20em;
}
.wfooter-menu-to ul{
    margin: 0em;
    padding: 0em;
    text-align: center;
    
}
.wfooter-menu-to ul li a{
    font-family: arial;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
#woplysninger {
    position: relative
    width: 25%;
    
    
}
.wfooter-menu-fire p{
    width:  100%;
    height: auto;
    margin: auto;
    margin-top: 20em;
}
.wfooter-menu-fire p{
    margin: 0em;
    padding: 0em;
    text-align: center;
}
.wfooter-menu-fire p{
    font-family: arial;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
wimg{
    max-width: 10%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    
}


/*-------------------------------------@MEDIA QUERYS--------------------------------------------*/
@media screen and (min-width: 300px){

#jumbotron{
 background-color: lightblue;
    width:100%;
    }

#llogin{ 
    position:relative; 
    width: 25%;
    left:55%;   
    opacity:0.6;
    text-align:center;
    border:0.09em solid black;
    border-radius:20px;
    text-decoration: none;
    top:-0.8em;
    } 
    
#limg{
    height:5em;
    width:5em; 
    top:0.1em;
}
    
.lbar{
        top:1.2em;
        left:1.2em
    }

}









@media screen and (min-width: 768px) {
  #jumbotron {
    background-color: aqua;
  }

.lbar{                       /*fortæller om burgers farver, display,                                    højde og bredde før åbning*/
    position: relative;
    height: 0.5em;
    width: 100%;
    background-color:#85bb65;
    display: block;
    border-radius: 5em;   
    transition:0.7s ease; /*hastigheden fra burger til kryds*/
    right: 15.5%; 
    top: 2.5em;
    left: -0.5em;
    }
    

#limg{
   
    position: absolute;
    top: -5px;
    left: 50px;
    height:8em;
    width:8em;
     }
    
#llogin{ 
    position:relative; 
    width: 25%;
    left:60%;   
    opacity:0.6;
    margin-top:3%;  
    margin-bottom: 2%;
    text-align:center;
    border:0.09em solid black;
    border-radius:20px;
    text-decoration: none;
    } 
    
}








@media screen and (min-width: 1200px) {
  #jumbotron {
    background-color: lavender;
    height:130px;
  }

 #llogin{ 
    width:15%;
    left:75%;   
    margin-top:2.7%;
    }

  #limg{
    left: 50px;
    height:100;
    width:150px !important;
     }

    
#lmenu{                 /*fortæller om burgers placering, højde og bredde*/
    margin: 50px 0 20px 20px;
  
    }
.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    top:0.4em;
    
}

