/*__________________________________________________HEADER________________________________________*/

#jumbotron{
    padding:0!important;
    padding-bottom: 30px !important;
    padding-top: 7px !important;
}

#lmenu{                 /*fortæller om burgers placering, højde og bredde*/
    position: absolute;
    width: 3em;
    height: 4em;
    cursor: pointer;        /*viser en hånd istedet for pil*/
    right: 2em;           /*afstand fra højre*/
}

.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    position: relative;
    height: 0.5em;
    width: 100%;
    background-color:whitesmoke;
    display: block;
    border-radius: 5em;   
    transition:0.7s ease; /*hastigheden fra burger til kryds*/
    right: 15.5%; 
    top: 2em;
    }

#lbar1{                 /*giver toppen af burgeren*/
    transform:translateY(0.2em);
}

#lbar2{                 /*giver midten af burgeren*/
    transform:translateY(0.3em);
}

#lbar3{                 /*giver bunden af burgeren*/
    transform:translateY(0.4em);
}

.lchange .lbar{           /*angiver farven på burger efter åben*/
    background-color:green;
}
.lchange #lbar1{           /*får bar1 til at dreje til kryds*/
    transform: translateY(0.3em) rotateZ(-45deg);
}

.lchange #lbar3{           /*får bar3 til at dreje til kryds*/
    transform: translateY(-0.65em) rotateZ(45deg);
}
.lchange #lbar2{        /*får bar2 til at forsvinde når krydset vises*/
    opacity: 0;
}
.lnav li a:hover{       /*Får nav tekst til at blive market efter åbnet burger*/
    font-weight: bold;
}

.lnav li a{             /*giver nav tekst farve og fjerne understregning fra link*/
    color:black;
    text-decoration:none;
}


.lnav li{               /* fjerne bullets og beskriver padding i nav tekst efter åben burger*/
    list-style: none;
    padding: 1em 0em;
}

.lnav{                  /*fortæller om navs position, padding, margin*/
    position:relative;
    padding:0em;
    margin: 0 3em;
    transition: 3s ease;
    display: none;
    float:right;
    top:5em;
}

.lchange{               /*fortæller omkring krydsets display*/
    display:block;
}

.lmenu-block{           /*fortæller om blokken der kommer efter at have åbnet burgeren FØR den er åben. Z-index er prioriteringsrækkefølge*/
    width:0;
    height:0;
    background:radial-gradient(circle, #FAEBD7, #FAEBD7);
    transition:0.5s ease;
    z-index: 1;
}

.lchange-block{     /*fortæller om blokkens størrelse når burgeren åbnes*/
    width:200%;
    height:200%;    
}

.lmenu-block, #lmenu-bar{   /*fortæller om hvor blokken starter*/
    top:0;
    right:0;
    position:absolute;
    
}

#lmenu-bar{             /* fortæller om prioriteringsrækkefølgen - gør egentligt bare, at menu-bar baggrund ikke dækker alt*/
    z-index: 2;
}

/*__________________________________________________Alle overskrifter________________________________________*/
/* dette er til overskrifterne på om_os*/

xh1 {
    font-size: 1.5em;
}

h1 {
    font-size: 1.5em;
    font-family: arial;
    color: forestgreen;
}

h3 {
    font-size: 1.2em;
    font-family: arial;
    color:darkgreen;
}


/*__________________________________________________OPRET BRUGER________________________________________*/
/* overskrifterne på login og opret bruger */
#nheading{
    text-align:center;
    padding:20px;
}

                        /* dette sørger for at teksten, der fortæller om password matcher eller ikke matcher er centeret */
#passwordtjek{
    text-align: center;
}
input::placeholder{
    font-style:italic;
}

#logmag{
    margin:15px;
}
/*-------------------------------------------------BILLEDE I HEADER------------------------------------*/
#limg{
    margin:0.2em;
    position: absolute;
    top: -0.5em;
    left: 3em;
    height:8em;
    width:10em; 
}
#container-content{
    width:100%;
    height:100000%;
}


/*___________________________________ MIN SIDE ___________________________________*/

#container-las{
    position:relative;
    height:35em;
    width:auto;
    margin-bottom:2em;
}

#container1-5{
    display:block;
    position:absolute;
    width: 24%;
    height: 50%;
    background-color: #aaa;
    left:0%;
    border: solid 2px black;
    margin: 5px;
    border-radius: 15%;
}

#container2-5{
    display:block;
    position:absolute;
    width: 24%;
    height: 50%;
    background-color: #aaa;
    left:25%;
    border: solid 2px black;
    margin: 5px;
    border-radius: 15%;
    
}

#container3-5{
    display:block;
    position:absolute;
    width: 24%;
    height: 50%;
    background-color: #aaa;
    left:50%;
    border: solid 2px black;
    margin: 5px;
    border-radius: 15%;
    
}

#container4-5{
    display:block;
    position:absolute;
    width: 24%;
    height: 50%;
    background-color: #aaa;
    left:75%;
    border: solid 2px black;
    margin: 5px;
    border-radius: 15%;
    
}

#container5-5{
    display:block;
    position:absolute;
    width: 24%;
    height: 50%;
    background-color: #aaa;
    left:38%;
    border: solid 2px black;
    margin: 5px;
    border-radius: 15%;
    top:18.5em;
}
#l-tekst{
    text-align: center;   
    color:black;

}


a{
    color:black;
    
}
a:hover{
    color:forestgreen;
    font-weight: bold;
}
#l-billede{
    position:relative;
    margin-left:18%;
    margin-right:18%;
    top:0.5em;
    
}

#l-billede:hover{
    opacity:0.4;
}


/*-------------------------------------------LOG IND BAR I HEADER--------------------------------*/

#llogin{                /*Fortæller om LOG IND knaps placering, position, rammen omkring og margin fra top og bund af jumbotron*/
    position:relative; 
    width: 25%;
    left:45%;   
    opacity:0.6;
    margin-top:5%;
    margin-bottom: 2%;
    text-align:center;
    border:0.09em solid black;
    border-radius:20px;
    text-decoration: none;
}

#llogin a{          /*Fjerne den standar blå farve ved link og laver sort*/
    color:black;
}

#llogin a:hover{   /*Beskriver funktioner når man hover LOG IND knappe, teksten ændres til bold sort, ingen understregning*/
    color:black;
    text-decoration: none;
    font-weight: 800;    
    
}

/*------------------------------------ mine aftaler -----------------------------*/
#Xlup {
    width: 10%;
    height: auto;
} 
table {                     /*denne sørger for at kolonner ligger helt op ad hinanden og angiver skrift samt bredde*/    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;}

/*Her angives designet på kolonnerne, der er valgt en solid ramme (grå), at skriften skal stå til venstre og tykkelse på kanten/borderen*/
td, th {
    border: 0.5em solid #dddddd;
    text-align: left;
    padding: 0.2em;

}
#xlille {
    font-size: 0.8em;
    padding: 1em;
}

/*-----------------------------------kontrakt------------------------------------*/
#xopretudlan {
    text-align: center;

}






/*-------------------------------------@MEDIA QUERYS--------------------------------------------*/
@media screen and (min-width: 300px)and (max-width:767px){
    #jumbotron{
        background-color:#95B9C7;
        border-radius:0% !important;
    }

#llogin{ 
    position:relative; 
    width: 25%;
    left:50%;   
    opacity:0.6;
    text-align:center;
    border:0.09em solid black;
    border-radius:20px;
    text-decoration: none;
    top:-0.15em;
    } 
    
#billede1{
    height:5em;
    width:5em;
}

    #container-las{
    margin-bottom:2em !important;
    }
    
.lbar{
        top:1.2em;
        left:1.2em;
}

#container-las{
        height:35em;
    }

#container1-5{
    width:40%;
    height:22%;
    left:5%;
}

#container2-5{
    width:40%;
    height:22%;
    left:50%;
    
}

#container3-5{
    width:40%;
    height:22%;
    left:5%;
    top:25%;
    
}

#container4-5{
    width:40%;
    height:22%;
    left:50%;
    top: 25%;
    
}

#container5-5{
    width:40%;
    height:22%;
    left:28%;
    top:50%;
    
}
    
#limg{
left:5%;
width:33%;
height:15%;


    }
body{
    background-color:lightcyan;
    }
#las-tekst-venstre{
        font-size:0.5em !important;
    }
#oplysninger-footer-2{
padding: 0px 0px !important;
margin-top: 1.5em;
left:32%;
    
}

#billede{
        width:80%;
        height:75%;   
    }
#billede-footer{
    margin-top:0px !important;
    left:35% !important;
    width:40% !important;
    height: 30% !important;
    
    }
#oplysninger-footer{
        font-size:0.5em;
        left:35% !important;
        margin-top:4em;
    }
#footer-container{
        margin-bottom:0px!important;
        margin-top:2.1em !important;
    }
}

@media screen and (min-width: 768px)and (max-width:959px) {
  #jumbotron {
    background-color: burlywood;
    border-radius:0 !important;
  }


.lbar{              /*fortæller om burgers farver, display,                                    højde og bredde før åbning*/
    position: relative;
    height: 0.5em;
    width: 100%;
    background-color:#85bb65;
    display: block;
    border-radius: 5em;   
    transition:0.7s ease; /*hastigheden fra burger til kryds*/
    right: 15.5%; 
    top: 2.5em;
    }
    

#limg{
    top: -5px;
    left: 50px;
    height:7em;
    width:8em;
}
    
#llogin{ 
    left:60%;     
}
    
#container1-5{
    width:30%;
    left:0%;
}
    

#container2-5{
    width:30%;
    left:32%;
    
    
}

#container3-5{
    width:30%;
    left:65%;
   
    
}

#container4-5{
left:15%;
width:30%;
top:18.5em;
    
    
}

#container5-5{
left:48%;
width:35%;
top:18.5em;
}    

    
#l-billede{
margin-left:auto;
margin-right:auto;
    }
    
body{
        background-color:orange;
    }
#las-tekst-hojre{
        font-size:0.7em !important;
    }
#oplysninger-footer{
        left: 75% !important;
        margin-top:1em;
    }
#footer-container{
        height:11.7em !important;
        margin-top:2em !important;
    }
#las-tekst-venstre{
        font-size:1em !important;
    }
    }
    
    
    
    
@media screen and (min-width: 960px) and (max-width:1299px) {
    #jumbotron{
        background-color:red;
        border-radius:0 !important;
    }

.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    top:1.75em;
    }


#limg{
height:6em;
width: 7em;
        
}

#llogin{
width:15%;
left:75%;   
margin-top:2.7%;
    }

#l-billede{ 
margin:0.25em;
    }
    
#container5-5{

    width:28%;
        
    }
#las-tekst-hojre{
        font-size:0.7em !important;
    }
#oplysninger-footer{
        left: 75% !important;
        margin-top:1em;
    }
#footer-container{
        height:8em !important;
        
    }
#las-container{
        margin-bottom:40em !important;
        position:relative;
    }
    body{
        background-color:yellow;
        position:relative;
    }
}
    
@media screen and (min-width: 1300px) {
#jumbotron {
  background-color:lavender;
  }
 

#llogin{ 
    width:15%;
    left:75%;   
    margin-top:2.7%;
    }


#container-las{
        margin-bottom:10em !important;
    }

  #limg{

    left: 50px;
    height:100;
    width:9em;
     }
    
    
#lmenu{                 /*fortæller om burgers placering, højde og bredde*/
    margin: 50px 0 20px 20px;
  
    }
.lbar{                  /*fortæller om burgers farver, display, højde og bredde før åbning*/
    top:-.50em;
    
}
    

#container5-5{
width:25%;
        
    }
    }



   /* ________________________________FOOTER__________________*/

#footer-container{
    position:fixed;
    width:100%;
    height:110px;
    bottom:0%;
    left:0%;
    background-color:black;
    margin-top:2em;
    margin-bottom: 0em;
    
}

#oplysninger-footer{
    position:absolute;
    left:82%;
    padding: 20px 10px;
}

#oplysninger-footer-2{
position:absolute;
padding: 40px 40px;
}

#las-tekst-venstre{
  text-decoration:none;
  color:white;
  font-size:1.2em;
}

#las-tekst-venstre:hover{
  opacity:0.6;
  color:lightgreen;
  font-weight: 700;
}

#las-tekst-hojre{
  text-decoration:none;
  color:white;
  font-size:0.9em;
}

#billede-footer{
  position:absolute;
  width:250px;
  height: 3em;
  margin-top:25px;
  left:42%;
  border-radius:3em;
  
}

#billede-footer:hover{
    opacity:0.5;
}


    
    /*------------------------------------ mine aftaler -----------------------------*/
#Xlup {
    width: 5%;
    height: auto;
} 
table {                     /*denne sørger for at kolonner ligger helt op ad hinanden og angiver skrift samt bredde*/    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
#xx {
    text-align: center;
    }

/*Her placeres knapperne side om side*/
#xnetveark {  
    float: left;
    width: 50%
     }
    #xmatchside {
        float: right;
        width: 50%;
    }

/*----------------------OM OS------------------------------------------*/

#om-os-container{
    position:relative;
    width:100%;
    height:auto;
    margin-bottom:10em;
    padding: 20px;
}